# Xilinx creates a huge bunch of auxiliary files,
# so we use a whitelisting approach here.

# First, ignore everything in the project root
/*
# Now, whitelist src, sim, doc directories
!src/
!sim/
!doc/
# And the Xilinx ISE and Vivado project files
!*.xise
!*.xpr
# And the .gitignore itself
!.gitignore
# LICENSE, README
!LICENSE*
!README*
