# Xilinx auxiliary files
_xmsgs/
_ngo/
iseconfig/
xlnx_auto_0_xdb/
xst/

*.bld
*.cmd_log
*.html
*.ncd
*.lso
*.map
*.mrp
*.ngm
*.xrpt
*.ngc
*.ngd
*.ngr
*.pad
*.csv
*.txt
*.par
*.pcf
*.prj
*.ptwx
*.stx
*.xml
*.syr
*.twr
*.twx
*.unroutes
*.xpi
*.xst
*.gise
